{% extends 'base.html' %}
{% load static %}
{% block title %}Create Comment{% endblock %}


{% block main %}
<header class="pageHeader">
  <h1 class="text-center">Add Comment</h1>
</header>

<!-- Comment form section -->
<form id="commentForm" action="{% url 'posts:comment_create' post.pk %}" method="POST">
  {% csrf_token %}
  {{ form.non_field_errors }}

  <!-- Form fields -->
  {% for field in form %}
  {{ field.errors }}
  {{ field }}
  {{ field.help_text }}
  {% endfor %}
  <button class="btn btn-primary" type="submit">Save</button>
</form>

<hr>

<div class="postContainer">
  <h4>{{ post.title }}</h4>
  <div class="postInfo">
    <span>{{ post.creator }}</span>
    <span>&middot;</span>
    <span>{{ post.updated }}</span>
  </div>
  <div class="postBody">
    <p>{{ post.body }}</p>
  </div>
</div>
{% endblock %}