{% extends 'base.html' %}
{% block title %}Posts{% endblock %}

{% block header %}
<a class="btn teal-button pull-right" href="{% url 'posts:post_create' %}">Create Post</a>
<h1>Posts</h1>
{% endblock %}

{% block main %}
{% include "includes/pagination.html" with objects=posts %}

{% for post in posts %}
<div class="card post">
  <div class="card-body">
    <h2 class="card-title"><a class="post-title-link" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
    <p class="card-text postBody">{{ post.get_markdown|truncatewords:20 }}</p>
    <a class="btn blue-button" href="{{ post.get_absolute_url }}">Read More</a>
  </div>
  <div class="card-footer text-muted">
    Posted at {{ post.updated }} by
    {{ post.creator.username }}
    <span class="pull-right">{{ post.comments.count }} comments</span>
  </div>
</div>
{% endfor %}

{% include "includes/pagination.html" with objects=posts %}
{% endblock %}