{% extends 'base.html' %}
{% block title %}Post Detail - {{ post.title }}{% endblock %}

{% block main %}
<!-- Title -->
<h1>{{ post.title }}</h1>

<!-- Author -->
<p class="lead">by {{ post.creator.username }}</p>

<hr>

<!-- Date/Time -->
<p>Posted on {{ post.updated.date }} at {{ post.updated.time }}</p>

<!-- Body -->
<p>{{ post.body }}</p>

<hr>

<!-- Comment form -->
<div class="card">
  <h5 class="card-header">Leave a Comment:</h5>
  <div class="card-body">
    <form>
      <div class="form-group">
        <textarea class="form-control" rows="3"></textarea>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
</div>

<!-- Comments -->
<ul id="commentList" class="list-unstyled">
  {% for comment in post.comments.all %}
  <li class="media comment">
    <div class="media-body">
      <p>{{ comment.content }}</p>
      <small>{{ comment.creator.username }} &middot; {{ comment.updated|timesince }} ago</small>
    </div>
  </li>
  {% endfor %}

</ul>
{% endblock %}