{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}

{% block main %}

<!-- Title -->
<!-- Edit/Delete post buttons -->
{% if post.creator == request.user %}
<a id="deletePostButton" class="btn btn-danger pullRight btn-sm" href="{% url 'posts:post_delete' post.pk %}">Delete</a>
<a class="btn btn-warning pullRight btn-sm" href="{% url 'posts:post_update' post.pk %}">Edit</a>
{% endif %}
<h1 class="mb-0">{{ post.title }}</h1>
<!-- Author -->
<p class="lead">by {{ post.creator.username }}</p>
<hr>
<!-- Date/Time -->
<p>Posted on {{ post.updated.date }} at {{ post.updated.time }}</p>
<!-- Body -->
<p>{{ post.body }}</p>

<hr>

<!-- Comment form -->
<div class="card">
  <h5 class="card-header">Leave a Comment:</h5>
  <div class="card-body">
    <form action="{% url 'posts:comment_create' post_pk=post.pk %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <textarea class="form-control" name="content" rows="3" required></textarea>
      </div>
      <button class="btn blueButton" type="submit">Submit</button>
    </form>
  </div>
</div>

<!-- Comments -->
<ul id="commentList" class="list-unstyled">
  {% for comment in post.comments.all %}
  <li class="media comment">
    <div class="media-body">
      <p>{{ comment.content }}</p>
      <small>{{ comment.creator.username }} &middot; {{ comment.updated|timesince }} ago</small>
      {% if comment.creator == request.user %}
      <small><a href="{% url 'posts:comment_delete' comment.pk %}" class="pullRight ml-1">Delete</a></small>
      <small><a href="{% url 'posts:comment_update' comment.pk %}" class="pullRight">Edit</a></small>
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}