{% extends "base.html" %}

{% load markdown_deux_tags %}
{% load crispy_forms_tags %}

{% block title %}Create Post{% endblock %}

{% block head_extra %}
{{ form.media }}
{% endblock %}

{% block header %}
<h1 class="text-center">Create Post</h1>
{% endblock %}

{% block main %}
<form class="postForm" method="POST" action="{% url 'posts:post_create' %}" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form|crispy }}

  <div class="formSubmitButton">
    <button class="btn btn-lg blue-button" type="submit">Publish</button>
  </div>
</form>
{% endblock %}