* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: #3d3d3d;
}

a:hover {
    text-decoration: none;
    color: #269ccc;
}
.pullRight {
    float: right !important;
}

#logo {
    font-size: 1.5em;
    font-weight: 800;
}

/* --- Top navbar styles --- */
ul.topNav {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #f8f8f8;
}
ul.topNav li {
    float: left;
    line-height: 25px;
}
ul.topNav li a {
    display: block;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}
ul.topNav li.right {
    float: right;
}
@media screen and (max-width: 600px) {
    ul.topNav li.right, 
    ul.topNav li { float: none; }
}
/* --- Top navbar styles --- */


/* --- Error list styles --- */
.errorlist {
    list-style-type: none;
    color: red;
    padding: 0;
}
/* --- Error list styles --- */


/* --- Pagination styles --- */
.pagination {
    justify-content: center;
    margin: 10px 0;
}
.pagination a {
    width: 100px;
    margin: 0 5px;
}
/* --- Pagination styles --- */


/* --- Button styles --- */
.tealButton {
    background-color: #00b5ad;
    color: white;
}
.tealButton:hover {
    background-color: #00908a;
    color: white;
}
.blueButton {
    background-color: #269ccc;
    border-color: #269ccc;
    color: white;
}
.blueButton:hover {
    background-color: #1a6d8e;
    color: white;
}
#createPostButton {
    margin-bottom: 1em;
}
#deletePostButton {
    margin-left: 5px;
}
.btn.disabled {
    background-color: #cdcdcd;
    color: white !important;
}
/* --- Button styles --- */


/* --- Post styles --- */
.card.post {
    margin-bottom: 20px;
}
.postImage {
    width: 100%;
    margin-bottom: 10px;
}
.postBody {
    line-height: 1.5em;
}
/* --- Post styles --- */


/* --- Comment styles --- */
#commentList {
    margin-top: 20px;
}
.comment {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1)
}
.comment p {
    margin: 0;
}
.commentContent {
    line-height: 1.5em;
}

/* --- Comment styles --- */


/* --- Form styles --- */

/* --- Form styles --- */