* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
hr {
    margin: 0;
}

a {
    color: #3d3d3d;
}

a:hover {
    text-decoration: none;
    color: #269ccc;
}
header.container-fluid {
    padding: 0;
}
ul.topNav {
    list-style-type: none;
    margin-bottom: 20px;
    padding: 0;
    overflow: hidden;
    background-color: #f8f8f8;
}

ul.topNav li {
    float: left;
}

ul.topNav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topNav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.topNav li.right, 
    ul.topNav li { float: none; }
}

.messages {
    list-style-type: none;
    margin-bottom: 20px;
    padding: 0;
    overflow: hidden;
}
.messages > .success {
    color: green;
}
.messages > .error {
    color: red;
}


.pageHeader h1 {
    font-size: 2.2em;
}

.pullRight {
    float: right !important;
}
.btn-primary {
    background-color: #269ccc;
    border-color: #269ccc;
}
.btn-primary:hover {
    background-color: #1a6d8e;
}

.postTable {
    width: 100%;
}

.post {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.postTitle {
    margin-top: 15px;
}
.postInfo {
    margin-bottom: 20px;
    font-size: 0.8em;
}
.postBody {
    margin-bottom: 15px;
}

/* --- Post detail styles --- */
#title {
    font-size: 2.5em;
    margin: 0;
}
#body {
    margin-top: 20px;
}
.deletePostButton {
    margin-left: 5px;
}
#commentSection {
    margin-top: 20px;
}
#commentList {
    list-style-type: none;
    padding: 0;
}
#commentHeader {
    margin-bottom: 20px;
}
.comment {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 10px;
}
.commentInfo {
    font-size: 0.8em;
}
.deleteComment, .editComment {
    font-size: 0.8em;
}

/* --- Post detail styles --- */