.messages {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    min-height: 25px;
    margin-bottom: 0;
}
.messages > .success {
    color: green;
}
.messages > .error {
    color: red;
}
