{% extends "base.html" %}

{% load markdown_deux_tags %}
{% load crispy_forms_tags %}

{% block title %}Edit {{ post.title }}{% endblock %}

{% block head_extra %}
{{ form.media }}
{% endblock %}

{% block header %}
<h1 class="text-center">Edit Post</h1>
{% endblock %}

{% block main %}
<!-- Editor -->
<form id="postForm" method='POST' action="{% url 'posts:post_update' post.pk %}" enctype='multipart/form-data'>
  {% csrf_token %}
  {{ form|crispy }}

  <div class="formSubmitButton">
    <button class="btn btn-lg blue-button" type="submit">Save</button>
  </div>
</form>
{% endblock %}