/* --- Global styles --- */
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
.pull-right {
    float: right !important;
}
/* --- Global styles --- */


/* --- Header styles --- */
header {
    margin-top: 10px;
}
/* --- Header styles --- */


/* --- Top navbar styles --- */
nav {
    background-color: #f8f8f8;
    border-bottom: 1px solid #dfdfdf;
}
a.nav-link {
    color: #3d3d3d !important;
}
a.nav-link:hover {
    color: #00b5ad !important;
}
#logo {
    font-weight: 800;
}
/* --- Top navbar styles --- */


/* --- Error list styles --- */
.errorlist {
    list-style-type: none;
    color: red;
    padding: 0;
}
/* --- Error list styles --- */


/* --- Pagination styles --- */
.pagination {
    justify-content: center;
    margin: 10px 0;
}
.pagination a {
    width: 100px;
    margin: 0 5px;
}
/* --- Pagination styles --- */


/* --- Button styles --- */
.search-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.teal-button {
    background-color: #00b5ad;
    color: white;
}
.teal-button:hover {
    background-color: #00908a;
    color: white;
}
.blue-button {
    background-color: #269ccc;
    border-color: #269ccc;
    color: white;
}
.blue-button:hover {
    background-color: #1a6d8e;
    color: white;
}
.btn.disabled {
    background-color: #cdcdcd;
    color: white !important;
}
/* --- Button styles --- */


/* --- Post styles --- */
.post-title-link {
    color: #269ccc;
}
.post-title-link:hover {
    color: #1a6d8e;
    text-decoration: none;
}
.card.post {
    margin-bottom: 20px;
}
img {
    position: relative;
    max-width:  100%;
    height: 400px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    border-radius: .25rem;
}
/* --- Post styles --- */


/* --- Comment styles --- */
#comment-list {
    margin-top: 10px;
}
.comment {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1)
}
.comment p {
    margin: 0;
}
.fa-trash-alt:hover {
    cursor: pointer;
}
/* --- Comment styles --- */


/* --- Form styles --- */
.search-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.wmd-panel {
    margin: 0 !important;
    width: 100% !important;
}
#id_body_wmd_preview {
    padding: 10px;
    word-wrap: break-word;
}
/* --- Form styles --- */


/* --- Modal styles --- */
.modal-dialog {
    max-width: 600px;
}
/* --- Modal styles --- */


/* --- Card styles --- */
.card-border {
    border-color: #269ccc;
}
/* --- Card styles --- */


/* --- User styles --- */
.profile-picture {
    max-width: 200px;
    max-height: 200px;
}
/* --- User styles --- */