{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>

<body>
  <header>
    <h1>A Very Simple Blog</h1>
    {% if request.user.is_authenticated %}
    <p>Logged in as {{ request.user.username }}</p>
    {% endif %}
    <nav>
      <a href="{% url 'posts:post_list' %}">Posts</a>
    </nav>
    <nav>
      {% if request.user.is_authenticated %}
      <a href="{% url 'signout' %}">Sign out</a>
      {% else %}
      <a href="{% url 'signup' %}">Sign up</a>
      <a href="{% url 'signin' %}">Sign in</a>
      {% endif %}
    </nav>
  </header>
  {% include "messages.html" %}
  <main>
    {% block main %}
    {% endblock %}
  </main>

</body>

</html>