{% extends 'base.html' %}
{% block title %}Sign In{% endblock %}


{% block main %}
<h1>Sign In</h1>

<form action="{% url 'signin' %}" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label for="username">Username: </label>
    <input class="form-control" id="username" type="text" name="username">
  </div>
  <div class="form-group">
    <label for="password">Password: </label>
    <input class="form-control" id="password" type="password" name="password">
  </div>
  <button class="btn btn-primary" type="submit">Sign in</button>
</form>
{% endblock %}