{% extends 'base.html' %}
{% block title %}Sign In{% endblock %}


{% block main %}
<h1>Sign In</h1>

<form action="{% url 'signin' %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next}}">
  <table>
    <tr>
      <th><label for="username">Username: </label></th>
      <td><input id="username" type="text" name="username"></td>
    </tr>
    <tr>
      <th><label for="password">Password: </label></th>
      <td><input id="password" type="password" name="password"></td>
    </tr>
  </table>
  <button type="submit">Sign in</button>
</form>
{% endblock %}